body {
    background-image: linear-gradient(red, yellow);
}

@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
h1,
h2,
h3 {
    font-family: 'Shizuru', cursive;
    font-weight: bold;
}

p {
    font-family: 'Teko', sans-serif;
    font-weight: bold;
}

#table,
td,
tr,
th {
    border: 1px solid black;
}